*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    text-decoration:none;
    scroll-behavior: smooth;
}
:root{
    --bg-color:ffffff;
    --text-color:#000;
    --secound-color:#a09dab;
    --main-color:#f75023;
    --big-font:5rem;
    --h2-font:3rem;
    --p-font:1.1rem;
}
body{
    /* background: var(--bg-color); */
    background-color: #561f2f;
    opacity: 0.8;
    color:white;
}
header{
    position:fixed;
    width: 100%;
    top:0;
    right:0;
    z-index:1000;
    display:flex;
    align-items:center;
    justify-content: space-around;
    background: transparent;
    padding:30px 18%;
    transition:.3s;

}
/* #logo{
  width:80px;
    height: 60px;
    margin: 10px 10px 10px 10px;
} */

.navlist{
    display: flex;
    /* position: fixed; */
    list-style: none;
   
}

.navlist li{
    position:relative;
   
}



.navlist a{
    font-size: var(--p-font);
    color: white;
    font-weight:500;
    padding:10px 27px;
}
.navlist a::after{
    content:'';
    position:absolute;
    width:0%;
    height:2px;
    background: var(--main-color);
    bottom:-3px;
    left:0;
    transition:ease .40s;
}
.navlist a:hover::after{
    width:100%;
}
#home{
    background-color: #561f2f;
    opacity: 0.8;
}
#menu-icon{
    font-size: 35px;
    color:var(--text-color);
    z-index:10001;
    cursor: pointer;
    display:none;
}
.top-btn{
    display: inline-block;
    padding: 9px 30px;
    background: transparent;
    border:2px solid var(--main-color);
    border-radius: 30px;
    color:white;
    letter-spacing: 1px;
    font-weight:500;
    transition:ease .50s;

}
.top-btn:hover{
    transform:scale(1,1);
    background: var(--main-color);
    border: 2px solid var(--main-color);
    color:white;
}
section{
    padding:100px 18%;
}
.home{
    min-height:100%;
    height:100%;
    width:100%;
    
    background-size: cover;
    background-position: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items:center;
    grid-gap:4rem;
}
.home-img{
    border-radius: 12px;
    padding: 45px 45px 45px 45px;
}
.home-text h1{
    margin:10px 0px 25px;
    font-size:var(--big-font);
    line-height:1;
    font-weight:500;
}
.home-text h5{
    margin-bottom:23px;
    font-size:30px;
    font-weight:1200;

    color:#f75023
}
.home-text h3{
    color:var(--main-color);
    font-size:30px;
    font-weight:1200;

}

.btn{
    display:inline-block;
    color:var(--bg-color);
    background: var(--main-color);
    font-size:var(--main-color);
    padding:10px 40px;
    font-weight:500;
    line-height:24px;
    border-radius:30px;
    transition:ease .40s;
}
.btn:hover{
    transform:scale(1.1);

}
.home-img img{
    max-width:100%;
    width:240px;
    height:auto;
    border-radius: 30px;
   
    
}
header.sticky{
    background: var(--bg-color);
    padding: 13px 18%;
    box-shadow: 0px 0px 10px rgb(0 0 0/10%);
}
.items{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,auto));
    grid-gap:2rem;
    align-items:center;
    text-align:center;

}
.sub-service{
    background-color: #561f2f;
    opacity: 0.8;
}
.sub-box{
    padding:45px 45px 45px 45px;
    transition:ease .50s;
    cursor:pointer;
}
.sub-img img{
    max-width: 100%;
    width:330px;
    height:auto;
    margin: bottom 20px;
}
.sub-box h3{
    margin-bottom:20px;
    font-size:24px;
    font-weight: 500;
}
.sub-box p{
    font-size:var(--p-font);
    color:var(--secound-color);
    line-height:29px;
}
.sub-box:hover{
    background: #ffffff;
    box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
    border-radius: 12px;
    will-change:transform;
    transform: perspective(1000px) rotateX(4.80deg) rotateY(10.23deg) scale3d(1.05,1.05,1.05);
}
.about{
    display:grid;
    grid-template-columns: repeat(2,2fr);
    align-items:center;
    grid-gap:2rem;
    background-color: #561f2f;
    opacity: 0.8;
}
.about-img img{
    max-width:100%;
    width:240px;
    height:auto;
    border-radius: 10%;
}
.about-text h2{
    font-size: var(--h2-font);
    font-weight:500;
    margin:8px 0px 25px;
    line-height:1.1;
}
.about-text h3{
    color:var(--main-color);
    font-size:30px;
    font-weight:1200;

}
.about-text p{
    max-width:550px;
    font-size:var(--p-font);
    color:var(--second-color);
    line-height:28px ;
    margin-bottom:45px;

}
.heading{
    text-align:center;
}
.heading h2{
    font-size :var(--h2-font);
    font-weight:500;
    margin:7px 0px 20px;
    line-height:1.1;
}
.heading h3{
    color:var(--main-color);
    font-size:30px;
    font-weight:1200;

}
.heading p{
    font-size:var(--p-font);
    color:var(--secount-color);
    line-height:28px;
}
#portfolio{
    background-color: #561f2f;
    opacity: 0.8;
}

.portfolio-content{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(350px,auto));
    grid-gap:2rem;
    align-items: center;
    margin-top: 5rem;
    text-align:center;
    cursor:pointer;
}
.col{
    position: relative;
}
.col img{
    max-width:100%;
    width:550px;
    height:350px;
    object-fit: cover;
    border-radius:12px;
    box-shadow :10px 10px 10px 15px grey;
}
.layer{
    background: transparent;
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    border-radius:12px;
    transition:all .40s;

}
.layer:hover{
    background: linear-gradient(egba(0,0,0,0.5)0%, #191919);
}
.layer h3{
    position:absolute;
    width:100%;
    font-size:50px;
    font-weight:1500;
    color:black;
    /* color:var(--bg-color); */
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    opacity:0;
    transition:all .40s;
}
.layer:hover h3{
    bottom:52%;
    opacity: 1;
}
.heading p{
    margin-bottom: 20px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}


.service-content{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(400px,auto));
    grid-gap:2rem;
    align-items: center;
    margin-top: 5rem; 
    }

#service{
    background-color: #561f2f;
    opacity: 0.8;
}
.row{
    background-color: #ffffff;
    box-shadow: 18px 0px 87px rgb(10 15 70/7%);
    border-radius: 12px;
    padding: 45px 45px 45px 45px;
    transition: ease .45s;
    cursor:pointer;
}

.s img{
    height:400px;
    width: 500px;
    background: #c75124;
    padding:15px;
    border-radius: 12px;
    margin-bottom: 20px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.row h3{
    font-size:17px;
    font-weight: 500;
    margin-bottom: 19px;
}
.row p{
    font-size:var(--p-font);
    color:var(--second-color);
    line-height:28px;
}

#contact{
    min-height:100vh;
    /* background: url(girlsbg.jpg); */
    background: url(ww.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.contact-form{
    max-width:700px;
    margin-right: 50px;
}

 .contact, .contact-form{
    flex: 1;
} 

.contact-form h2{
    color:#fff;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.contact-form .text-box{
    background: #000;
    color: #fff;
    border: none;
    width: calc(50% -10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin-bottom:20px;
    opacity:0.9;
}

.contact-form .text-box:first-child{
    margin-right: 15px;
}
.contact-form textarea{
    background: #000;
    color:#fff;
    border: none;
    width:100% ;

    padding: 12px;
    font-size:15px;
    min-height: 200px;
    max-height:400px;
    resize:vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}
.contact-form .send-btn{
    float: right;
    background: #2E94E3;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background;
}

.contact-form .send-btn:hover{
    background: #0582E3;
}



/* css for alert message*/

.alert-success{
    z-index:1;
    background: #D4EDD4;
    font-size: 18px;
    padding: 20px 40px;
    min-width:420px;
    position: fixed;
    right: 0;
    top:10px;
    border-left:8px solid #3AD66E ;
    border-radius: 4px;
}

.alert-error{
    z-index:1;
    background: #FFF3CD;
    font-size: 18px;
    padding: 20px 40px;
    min-width:420px;
    position: fixed;
    right: 0;
    top:10px;
    border-left:8px solid #FFA502 ;
    border-radius: 4px;
}